<html>
    <body>
        <h3>{{ 'email.hello'|trans }},</h3>

        <p>{{ 'email.firstPartSentence'|trans }} {{ hour }}, {{ 'email.secondPartSentence'|trans }} {{ phoneNumber }} {{ 'email.endPartSentence'|trans }}</p>

        <p>{{ 'email.ourOrder'|trans }}:</p>

        <ul>
            {% for order in orders %}
                <li>{{ order.order }}</li>
            {% endfor %}
        </ul>

        <p>{{ 'email.thanks'|trans }} {{ name }}</p>
    </body>
</html>
